#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include "numberpadtest.dtsi"

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";
        interrupt-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; // IO2 = INTピン

        // Charlieplex用 5ピン定義 (IO0–IO4)
        gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>,  // IO0
                <&gpio0 10 GPIO_ACTIVE_HIGH>,  // IO1
                <&gpio0 9  GPIO_ACTIVE_HIGH>,  // IO2
                <&gpio0 8  GPIO_ACTIVE_HIGH>,  // IO3
                <&gpio0 7  GPIO_ACTIVE_HIGH>;  // IO4
    };
};




