#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include "numberpadtest.dtsi"

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";
        interrupt-gpios = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; // IO2 = INTピン

        // Charlieplex用 5ピン定義 (IO0–IO4)
        gpios = <&xiao_d 10 GPIO_ACTIVE_LOW>,  // IO0
                <&xiao_d 9 GPIO_ACTIVE_LOW>,  // IO1
                <&xiao_d 8 GPIO_ACTIVE_LOW>,  // IO2
                <&xiao_d 7 GPIO_ACTIVE_LOW>,  // IO3
                <&xiao_d 6 GPIO_ACTIVE_LOW>;  // IO4
    };
};




