#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        double0: double0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N0>;
            label = "DOUBLE0";
            wait-ms = <0>;
            tap-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp A  &kp B         &kp C         &kp D         &kp E
&kp F  &kp G         &kp H         &kp I         &kp J
&kp K  &kp L         &kp M         &kp N         &kp O
&kp P  &kp Q         &kp R         &kp S         &kp T
&kp U  &kp V         &kp W         &kp X         &kp Y
&kp Z  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4
            >;
        };
    };
};
